@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --primary: 195 83% 38%;
    --primary-light: 195 83% 58%;
    --primary-dark: 195 83% 18%;

    --secondary: 164 95% 43%;
    --secondary-light: 164 95% 63%;
    --secondary-dark: 164 95% 23%;

    --accent: 42 100% 70%;
    --accent-light: 42 100% 90%;
    --accent-dark: 42 100% 50%;

    --highlight: 346 84% 61%;
    --highlight-light: 346 84% 81%;
    --highlight-dark: 346 84% 41%;
  }

  * {
    @apply border-accent text-accent-light !scroll-smooth focus:outline-none;
    transition-duration: 30;
  }

  body {
    @apply bg-primary-dark;
  }

  section {
    @apply scroll-mt-14;
    /* Matches the height of the navbar */
  }

  .article-content ul {
    @apply list-disc pl-6;
  }

  .no-scrollbar {
    overflow: auto;
    /* For Firefox */
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    /* For Chrome, Safari, and Edge */
    display: none;
  }
}