@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --primary: 195 83% 38%;
    --primary-light: 195 83% 58%;

    --secondary: 164 95% 43%;
    --secondary-light: 164 95% 63%;

    --accent: 42 100% 70%;
    --accent-light: 42 100% 90%;

    --highlight: 346 84% 61%;
    --highlight-light: 346 84% 81%;

    --background: 195 83% 19%;
  }

  .dark {
    --primary: 195 83% 26%;
    --primary-light: 195 83% 39%;

    --secondary: 164 95% 29%;
    --secondary-light: 164 95% 42%;

    --accent: 42 100% 47%;
    --accent-light: 42 100% 60%;

    --highlight: 346 84% 41%;
    --highlight-light: 346 84% 54%;

    --background: 195 83% 13%;
  }
  * {
    @apply border-accent !scroll-smooth;
  }
  body {
    @apply bg-background text-accent-light;
  }
  button {
    @apply active:outline-none;
  }
}